body {
  /*background-color: #f5ffff;*/
  color: white;
}

.topBar {
  text-align: center;
  font-size: 60px;
  padding-top: 40px;
}

.updateData {
  text-align: center;
  padding-top: 40px;
  font-size: 28px;
}

.genBDiv {
  text-align: center;
}

#genButton {
  margin-top: 50px;
  width: 140px;
  height: 140px;
  font-size: 24px;
  border-radius: 70px;
  color: #f0f1f1;
  background-color: #ff0000;
  cursor: pointer;
  border: medium solid #cc0000;
  padding: 0px;
}

#genButton:hover {
  opacity: 0.7;
}

.genDisplay {
  color: #595959;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  width: 240px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.instructStep {
  text-align: center;
  padding-top: 30px;
  font-size: 18px;
}
