body {
  margin: 40px 0px;
}

.topBar {
  text-align: center;
  font-size: 24px;
  font-family: arial narrow, sans-serif, serif;
  color: #004466;
  margin-bottom: 25px;
}

.label, .label4, .label5, .label6 {
  text-align: left;
  font-size: 14px;
  color: #808080;
  font-family: sans-serif, serif;
  margin-bottom: 6px;
  margin-top: 15px;
}

.label2, .label3 {
  font-family: arial narrow, sans-serif, serif;
  color: #004466;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.label3, .label4, .label6 {
  color: #505050;
}

.label3, .label4 {
  margin-bottom: 0px;
  font-size: 22px;
}

.label5 {
  margin-top: 0px;
}

.label6 {
  text-align: right;
}

button {
  margin: 30px 6px;
}

.midContent {
  width: 100%;
  display: flex;
  flex-flow: row;
}

.leftSpace {
  width: 15%;
}

#proInfo, #purchInfo, #rentInfo, #results {
  width: 70%;
  margin-top: 30px;
}

.navButtons {
  text-align: center;
}

#progressBarRow {
  display: flex;
  flex-flow: row;
}

#barSteps {
  margin-left: -30px;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 6px;
  margin-top: 74px;
  margin-left: -45px;
  width: 128px;
  height: 12px;
  transform: rotate(90deg);
}

progress::-webkit-progress-value {
  background: #28a745;
  border-radius: 6px;
}

progress::-webkit-progress-bar {
  background: whiteSmoke;
  border-radius: 6px;
}

.resTable {
  width: 100%;
}

.collection {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
}

.flexItem, .flexItem2 {
  width: 150px;
  margin: 0px;
  margin-right: 15px;
}

.flexItem2 {
  width: 320px;
}

th {
  font-weight: normal;
}

@media (min-width: 580px) {

  .topBar{
    font-size: 30px;
  }

  #progressBarRow {
    display: block;
    padding-left: 30%;
    padding-right: 30%;
  }

  #progressBar {
    transform: rotate(0deg);
    margin-top: 10px;
    margin-left: 0px;
    width: 100%;
  }

  #barSteps {
    display: flex;
    flex-flow: row;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
  }

  #proInfoBar, #purchInfoBar, #rentInfoBar, #resultsBar {
    text-align: center;
    width: 25%;
  }

}

@media (min-width: 740px) {

  .flexItem, .flexItem2 {
    width: 165px;
    margin: 0px;
    margin-right: 40px;
  }

  .flexItem2 {
    width: 320px;
  }

  .resTable {
    width: 300px;
    margin: 0px;
    margin-right: 40px;
  }

  .resbottom {
    display: flex;
    flex-flow: row;
  }

  #resCollection {
    margin-top: -100px;
    margin-left: 20px;
  }

}

@media (min-width: 900px) {


}

@media (min-width: 1200px) {


}
