body {
  margin: 40px;
}

.topBar {
  text-align: center;
  font-size: 24px;
  font-family: arial narrow, sans-serif, serif;
  color: #004466;
  margin-bottom: 20px;
}

/*.inFields {
  width: 300px;
}*/

.label {
  text-align: left;
  font-size: 16px;
  color: #696969;
  font-family: sans-serif, serif;
}

input {
  margin-top: 8px;
  margin-bottom: 20px;
  width: 300px;
  height: 32px;
  font-size: 15px;
  border: 1px solid #C0C0C0;
  border-radius: 6px;
}

.shortIn {
  width: 150px;
}

.bottomBar {
  margin-top: 20px;
  text-align: center;
}

button {
  margin: 5px;
}


@media (min-width: 580px) {


}

@media (min-width: 740px) {

  .topBar{
    font-size: 30px;
  }

}

@media (min-width: 900px) {


}

@media (min-width: 1200px) {


}
